body {
  margin: 0;
  background: url("/img/bg.jpg") fixed center;
  background-size: cover;
  font: 16px "Source Sans Pro", serif;
  line-height: 1.5;
  color: white;
}

.banner {
  width: 100%;
  padding: 10px 1em;
  background: #343535;
  text-align: center;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 1em;
  box-sizing: border-box;
}

.intro {
  margin-top: 18vh;
}

.logo {
  width: 70px;
  height: auto;
  margin-top: 1em;
}

h1, h2 {
  font-weight: normal;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}