<figure>
    <img src="{{ include.src }}" title="{% if include.title == null %}{{ include.alt }}{% else %}{{ include.title }}{% endif %}" alt="{% if include.alt != null %}{{ include.alt }}{% endif %}">

    {% if include.caption != null %}
    <figcaption>{% if include.caption == null %}{{ include.alt }}{% else %}{{ include.caption }}{% endif %}</figcaption>
    {% endif %}

    {% if include.button-link != null && include.button-title != null %}
    <a class="btn" href="{{ include.button-link }}">{{ include.button-title }}</a>
    {% endif %}
</figure>
