<footer role=”contentinfo”>
  <div class="container">
    &copy; The Doon School 2018
  <br><br>
  Built by <a href="https://pratinav.github.io/">Pratinav Bagla</a> and <a href="http://shreyasminocha.me">Shreyas&nbsp;Minocha</a>
  <div class="social">
      <a href="https://www.facebook.com/The-Doon-School-Model-United-Nations-941655065854324/">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 32 32" aria-hidden="true"><path fill="#171717" d="M26.667 0h-21.334c-2.945 0-5.333 2.388-5.333 5.334v21.332c0 2.946 2.387 5.334 5.333 5.334h10.667v-14h-4v-4h4v-3c0-2.761 2.239-5 5-5h5v4h-5c-0.552 0-1 0.448-1 1v3h5.5l-1 4h-4.5v14h6.667c2.945 0 5.333-2.388 5.333-5.334v-21.332c0-2.946-2.387-5.334-5.333-5.334z"></path></svg><span class="screen-reader">Facebook page</span>
      </a>
  </div>
</footer>

<script type="text/javascript">
  var footer = document.querySelector("footer");
  function setFooter() {
    var wh = window.innerHeight;
    var dh = document.body.scrollHeight;
    if (wh >= dh) {
      if (!footer.classList.contains("anchor"))
        footer.classList.add("anchor");
    } else {
      if (footer.classList.contains("anchor"))
        footer.classList.remove("anchor");
    }
  }
  setFooter();
  window.onresize = setFooter;


  var toggle = document.querySelector(".nav-toggle");
  var nav = document.querySelector("nav");

  toggle.onclick = function(e) {
    e.preventDefault();
    nav.classList.toggle("nav-open");
  }

</script>
