<header role="banner">
  <button class="nav-toggle"></button>

  <a href="/"><img class="logo" src="/assets/images/logo_sm.png" title="DSMUN 2018" alt="Logo"></a>

  <nav role="navigation">
    <a href="/"><img class="logo" src="/assets/images/logo_sm.png" title="DSMUN 2018" alt="Logo"></a>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/committees">Committees</a></li>
      <li><a href="/notifications">Notifications</a></li>
      <li><a href="/assets/pdf/rop/general.pdf" rel="noopener noreferrer" target="_blank">Rules Of Procedure</a></li>
      <li><a href="/secretariat">Secretariat</a></li>
      <li><a href="/registration">Registration</a></li>
      <li><a href="/schedule">Schedule</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
