<head>
  <title>{% if page.title != null %}{{ page.title }} &mdash; {% endif %}DSMUN 18</title>
  <meta charset="utf-8">
  <meta content="ie=edge" http-equiv="x-ua-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="DSMUN, The Doon School, Model United Nations, 18">
  <meta content="{% if page.description == null %} The official website of The Doon School Model United Nations 2018 {% else %} {{ page.description }} {% endif %}" property="description">

  <!-- OG -->
  <meta content="http://dsmun18.com{{ page.url }}" property="og:url">
  <meta content="{% if page.title != null %}{{ page.title }} &mdash; {% endif %}DSMUN 18" property="og:title">
  <meta content="DSMUN 18" property="og:site_name">
  <meta content="/assets/images/logo.png" property="og:image">
  <meta content="{% if page.description == null %} The official website of The Doon School Model United Nations 2018 {% else %} {{ page.description }} {% endif %}" property="og:description">

  <!-- styles -->
  <link type="text/css" href="/assets/css/style.css" rel="stylesheet">
  <link type="text/css" href="/assets/css/flickity.css" rel="stylesheet">

  <!-- favicon -->
  <link href="/assets/favicon/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144">
  <link href="/assets/favicon/apple-touch-icon-152x152.png" rel="apple-touch-icon-precomposed" sizes="152x152">
  <link type="image/png" href="/assets/favicon/favicon-32x32.png" rel="icon" sizes="32x32">
  <link type="image/png" href="/assets/favicon/favicon-16x16.png" rel="icon" sizes="16x16">
  <meta name="application-name" content="DSMUN 18">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets/favicon/mstile-144x144.png">

  <!-- redirect -->
  {% if page.redirect-url != null %}
  <meta content="{% if page.redirect-wait == null %}0{% else %}{{ page.redirect-wait }}{% endif %}; url={{ page.redirect-url }}" http-equiv="refresh">
  {% endif %}

  <!-- scripts -->
  {% if page.scripts != null %}
    {% for script in page.scripts %}
  <script src="{{ script }}"></script>
    {% endfor %}
  {% endif %}
</head>
