<header>
  <a href="{{ site.baseurl }}/"><img class="logo" src="{{ site.baseurl }}/assets/images/logo_sm.png"></a>
  <a href="#" class="nav-toggle">
    <span class="nav-line"></span>
    <span class="nav-line"></span>
    <span class="nav-line"></span>
  </a>
  <nav>
    <ul>
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <!-- <li><a href="{{ site.baseurl }}/#committees">Committees</a></li> -->
      <!-- <li class="attention"><a href="{{ site.baseurl }}/updates">Updates</a></li> -->
      <!-- <li><a href="{{ site.baseurl }}/assets/Conference-Schedule-DSMUN-17.pdf" target="_blank" rel="noopener noreferrer">Schedule</a></li> -->
      <!-- <li><a href="{{ site.baseurl }}/about-the-eb">About the EB</a></li> -->
      <li><a href="{{ site.baseurl }}/gallery">Gallery</a></li>
      <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
    </ul>
  </nav>
</header>
