---
layout: default
---
<section id="committee" class="container panel clear-header">
  <h3>{{ page.title }}</h3>
  <figure class="chair_img">
    <img src="{{ site.baseurl }}/assets/images/chairpersons/{{ page.name | remove: 'md' }}jpg">
    <figcaption>
      {{ page.chair }}<br>
      <a href="mailto:chair.{% if page.email != null %}{{ page.email }}{% else %}{{ page.name | remove: '.md' }}{% endif %}@doonschool.com">chair.{% if page.email != null %}{{ page.email }}{% else %}{{ page.name | remove: '.md' }}{% endif %}@doonschool.com</a>
    </figcaption>
  </figure>
  {{ content }}
  <br>
  <ul class="buttons-list">
    <li>
      <a class="btn" href="{{ site.baseurl }}/assets/bgs/{{ page.name | remove: 'md' }}pdf" target="_blank" rel="noopener noreferrer">Background Guide</a>
    </li>
    {% if page.groupid != null %}
    <li>
      <a class="btn" href="https://www.facebook.com/groups/{{ page.groupid }}" target="_blank" rel="noopener noreferrer">Join the facebook group</a>
    </li>
    {% endif %}
  </ul>
</section>